<h3>{{viewT}}</h3>

<div class="form-group">
         <a class="btn btn-secondary" href="/home/employee"><i class="fa fa-list-alt"></i> Employees</a>
        <a class="btn btn-secondary" href="/home/product"><i class="fa fa-list-alt"></i> Products </a>
    </div>